.white-theme {
  transition: 0s !important;
}
.white-theme input,
.white-theme select,
.white-theme textarea {
  color: #000000;
}
.white-theme input,
.white-theme select,
.white-theme textarea,
.white-theme div,
.white-theme table,
.white-theme nav,
.white-theme nav div,
.white-theme ul,
.white-theme li {
  transition: 0s !important;
}
.white-theme textarea:focus,
.white-theme input:focus {
  color: #000000;
}
.white-theme .sidebar {
  background: #fff;
}
.white-theme .sidebar .sidebar-brand-wrapper {
  background: #fff;
}
.white-theme .main-panel {
  background: #f9f9f9 !important;
}
.white-theme .navbar .navbar-menu-wrapper {
  background: #f9f9f9;
}
.white-theme .navbar-profile-name {
  color: #1a1a1a;
}
.white-theme .btn-success {
  background-color: #ffffff;
}
.white-theme .bx-toggle-left:before {
  color: black;
}
.white-theme .navbar .navbar-menu-wrapper .search input {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--white, #fff);
}
.white-theme .content-wrapper {
  background: #f9f9f9;
}
.white-theme .card {
  background: #fff;
}
.white-theme .header-top {
  color: #1a1a1a;
}
.white-theme .top-headers {
  background: #f9f9f9;
}
.white-theme .right-part {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--grey-grey-1, #f8f8f8);
  color: #757d8a;
}
.white-theme .table-responsive tr:nth-child(2n) {
  border-radius: 0px 10px 10px 0px;
  background: #f8f8f8;
}
.white-theme .pl-2 {
  color: #404d61;
}
.white-theme .bottom-footer {
  border-radius: 8px;
  border: 1px solid var(--colors-blue-100-opacity, #4e73f8);
  background: var(--white, #fff);
  box-shadow: 0px 16px 8px -4px rgba(27, 46, 94, 0.03), 0px 4px 8px -6px rgba(27, 46, 94, 0.03);
}
.white-theme tbody {
  border: 2px solid transparent;
}
.white-theme .sub-headers .left-part {
  background: #f9f9f9;
}
.white-theme .sub-headers .left-part .selected-sub-header {
  color: #404d61 !important;
}
.white-theme .sub-headers .left-part .selected-sub-header:nth-child(1) {
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(27, 46, 94, 0.03), 0px 16px 8px 0px rgba(27, 46, 94, 0.03);
  color: #404d61;
}
.white-theme .baglanti-body tbody {
  border: 2px solid transparent !important;
}
.white-theme .baglanti-body .top-container {
  align-items: center;
}
.white-theme .baglanti-body .counting {
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--white, #fff);
  color: #757d8a;
}
.white-theme .baglanti-body .form-c {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--white, #fff);
}
.white-theme .baglanti-body #border-pagination {
  padding: 8px;
  margin-bottom: 0 !important;
}
.white-theme .baglanti-body #border-pagination li a {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--white, #fff);
}
.white-theme .baglanti-body .bottom-footer {
  border: none;
  box-shadow: none;
}
.white-theme .kasa-all .bottom-footer {
  border: none;
  box-shadow: none;
}
.white-theme .kasa-all .left-table .pl-2 {
  color: #fff;
}
.white-theme .kasa-all .sub-subpl-2 {
  color: #1a1a1a !important;
}
.white-theme .kasa-all .v2 {
  border-radius: 8px;
  background: #f8f8f8;
}
.white-theme .kasa-all .bg-svg {
  background: white;
  padding: 8px;
  border-radius: 10px;
}
.white-theme .kasa-all .bg-svg-2 {
  background: white;
  padding: 8px;
  border-radius: 10px;
}
.white-theme #border-pagination {
  padding: 8px;
  margin-bottom: 0 !important;
}
.white-theme #border-pagination li a {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--white, #fff);
}
.white-theme .muhasebe-all .gider {
  color: #ff1f00 !important;
}
.white-theme .muhasebe-all .gider,
.white-theme .muhasebe-all .gelir {
  color: #3ac348;
}
.white-theme .muhasebe-all .modal-content {
  background-color: #161616 !important;
  border: none;
}
.white-theme .muhasebe-all .modal-delete-text {
  color: #fff;
}
.white-theme .muhasebe-all .counting {
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--white, #fff);
  color: #757d8a;
}
.white-theme .muhasebe-all .form-c {
  border-radius: 8px;
  border: 1px solid #e1e3e6;
  background: #fff;
}
.white-theme .muhasebe-all .all-left-part .common-bg {
  margin-top: 0;
  border-radius: 8px;
  border: 1px solid #e1e3e6;
  background: #fff;
}
.white-theme .muhasebe-all .all-left-part .selected-sub-header {
  color: #fff !important;
}
.white-theme .havuz-all .inputs-single {
  border-right: 1px solid #e1e3e6;
  border-left: 1px solid #e1e3e6;
}
.white-theme .havuz-all .add-ilan-but {
  border: none;
}
.white-theme .havuz-all .jobs-bg {
  border-radius: 4px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--grey-grey-1, #f8f8f8);
}
.white-theme .havuz-all .svgg {
  display: none !important;
}
.white-theme .havuz-all .svg-2 {
  display: unset !important;
}
.white-theme .havuz-all .head-re {
  color: var(--dark, #404d61);
}
.white-theme .havuz-all .geekmark {
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--grey-grey-1, #f8f8f8);
}
.white-theme .havuz-all .selected-job {
  border-radius: 4px;
  background: #f39200;
}
.white-theme .havuz-all .for-you {
  color: #1a1a1a;
}
.white-theme .havuz-all .add-ilan-but {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--grey-grey-1, #f8f8f8);
}
.white-theme .havuz-all .filter-but {
  border-radius: 0px 8px 8px 0px;
  background: #f39200;
}
.white-theme .havuz-all .single-advert {
  border-radius: 8px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 7px -2px rgba(27, 46, 94, 0.05);
}
.white-theme .havuz-all .single-advert .job-sub {
  color: #1a1a1a;
}
.white-theme .havuz-all .single-advert .price-text {
  color: #1a1a1a;
}
.white-theme .havuz-all .top-advert {
  border-radius: 8px;
  background: #f39200;
}
.white-theme .havuz-all .give-offer {
  border-radius: 8px;
  background: #fff;
  color: #f39200;
}
.white-theme .ilanlar-all .inputs-single {
  border-right: 1px solid #e1e3e6;
  border-left: 1px solid #e1e3e6;
}
.white-theme .ilanlar-all .top-advert {
  background-color: transparent !important;
}
.white-theme .ilanlar-all .top-right {
  background-color: var(--white, #fff);
}
.white-theme .ilanlar-all .single-advert {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--white, #fff);
  box-shadow: 0px 4px 2px -2px rgba(27, 46, 94, 0.02);
}
.white-theme .ilanlar-all .add-ilan-but {
  border: none;
}
.white-theme .ilanlar-all .jobs-bg {
  border-radius: 4px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--grey-grey-1, #f8f8f8);
}
.white-theme .ilanlar-all .svgg {
  display: none !important;
}
.white-theme .ilanlar-all .head-re {
  color: var(--dark, #404d61);
}
.white-theme .ilanlar-all .geekmark {
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--grey-grey-1, #f8f8f8);
}
.white-theme .ilanlar-all .svg-2 {
  display: unset !important;
}
.white-theme .ilanlar-all .selected-job {
  border-radius: 4px;
  background: #f39200;
}
.white-theme .ilanlar-all .for-you {
  color: #1a1a1a;
}
.white-theme .ilanlar-all .add-ilan-but {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--grey-grey-1, #f8f8f8);
}
.white-theme .ilanlar-all .filter-but {
  border-radius: 0px 8px 8px 0px;
  background: #f39200;
}
.white-theme .ilanlar-all .single-advert {
  border-radius: 8px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 7px -2px rgba(27, 46, 94, 0.05);
}
.white-theme .ilanlar-all .single-advert .job-sub {
  color: #1a1a1a;
}
.white-theme .ilanlar-all .single-advert .price-text {
  color: #1a1a1a;
}
.white-theme .ilanlar-all .top-advert {
  border-radius: 8px;
  background: #f39200;
}
.white-theme .ilanlar-all .give-offer {
  border-radius: 8px;
  background: #fff;
  color: #f39200;
}
.white-theme .add-ilan-all .common-bg {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6) !important;
  background: var(--white, #fff) !important;
}
.white-theme .add-ilan-all .wrapper-add {
  border-radius: 8px;
  border: 1px dashed #e1e3e6;
  background: #f8f8f8;
}
.white-theme .add-ilan-all .text-common {
  color: #1a1a1a;
}
.white-theme .add-ilan-all .add-image-files {
  border-radius: 8px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.05);
}
.white-theme .add-ilan-all .add-file {
  border-radius: 8px;
  border: 1px solid #e1e3e6;
  background: #fff;
}
.white-theme .add-ilan-all .information-inputs label {
  color: #1a1a1a;
}
.white-theme .add-ilan-all .information-inputs .label {
  color: #1a1a1a;
}
.white-theme .pricing-all .col-row {
  border-radius: 20px;
  background: #fff;
}
.white-theme .pricing-all .pan {
  color: #1a1a1a;
}
.white-theme .pricing-all .fieldset {
  border-radius: 99px;
  background: #fff;
  box-shadow: 0px 12px 40px 0px rgba(197, 191, 214, 0.24);
}
.white-theme .pricing-all .label {
  color: #1a1a1a;
}
.white-theme .pricing-all .month-text {
  color: #1a1a1a;
}
.white-theme .pricing-all .single-price {
  border-radius: 20px;
  border: 1px solid #e1e3e6;
}
.white-theme .pricing-all .single-price:hover {
  border-radius: 20px;
  background: #f39200;
  transform: translateY(-16px) scale(1.02);
  transition: all 0.5s ease;
  cursor: pointer;
}
.white-theme .pricing-all .single-price:hover .header-title {
  color: #fff !important;
}
.white-theme .pricing-all .single-price:hover .yillik,
.white-theme .pricing-all .single-price:hover .price,
.white-theme .pricing-all .single-price:hover li,
.white-theme .pricing-all .single-price:hover .month-text {
  color: #fff !important;
}
.white-theme .pricing-all .single-price:hover .cta-btn {
  border-radius: 8px;
  background: #fff;
  color: #f39200;
}
.white-theme .pricing-all .single-price:hover .fa-check:before {
  color: #fff;
}
.white-theme .pricing-all .selected-label {
  color: #fff !important;
}
.white-theme .pricing-all .header-title {
  color: #1a1a1a !important;
}
.white-theme .pricing-all .price {
  color: #1a1a1a !important;
}
.white-theme .pricing-all .pricing-card .features li {
  color: #1a1a1a;
}
.white-theme .sub-top {
  color: #1a1a1a;
}
.white-theme .calc-part {
  background: #fff;
}
.white-theme .calc-part input {
  border-radius: 8px;
  border: 1px solid #e1e3e6;
  background: #fff;
}
.white-theme .baglanti-siparis-all .card {
  background-color: #f9f9f9;
}
.white-theme .baglanti-siparis-all .about-advert,
.white-theme .baglanti-siparis-all .about-advert-price {
  color: #1a1a1a;
  font-weight: 700;
}
.white-theme .baglanti-siparis-all .right-table,
.white-theme .baglanti-siparis-all .left-table {
  background: var(--white, #fff);
}
.white-theme .baglanti-siparis-all .price {
  color: #1a1a1a;
}
.white-theme .baglanti-siparis-all .port {
  background: #f8f8f8;
  color: #1a1a1a;
  font-weight: 700;
}
.white-theme .finish-order-all .white-bg {
  border-radius: 8px;
  background: var(--colors-blue-light, #f1f4ff);
}
.white-theme .finish-order-all .right-table {
  border-radius: 20px;
  background: var(--white, #fff);
}
.white-theme .finish-order-all .port {
  border-radius: 8px;
  background: #f8f8f8;
  color: #1a1a1a;
  font-weight: 700;
}
.white-theme .finish-order-all .subport {
  border-radius: 8px;
  background: #f8f8f8;
  color: #1a1a1a;
}
.white-theme .finish-order-all .order-information {
  color: #1a1a1a;
  font-weight: 700;
}
.white-theme .finish-order-all .one-advert,
.white-theme .finish-order-all .second-advert {
  border-radius: 8px;
  background: #f8f8f8;
}
.white-theme .finish-order-all .name {
  color: #404d61;
}
.white-theme .finish-order-all .top-part {
  color: #1a1a1a;
}
.white-theme .finish-order-all .black {
  border-radius: 8px;
  border: 1px solid #e1e3e6;
  background: #f8f8f8;
}
.white-theme .finish-order-all .about-advert,
.white-theme .finish-order-all .about-advert-price {
  color: #1a1a1a;
}
.white-theme .profile-all .left-table {
  border-radius: 20px;
  background: var(--white, #fff);
}
.white-theme .profile-all .card {
  background-color: #f9f9f9;
}
.white-theme .profile-all .modal-content {
  background: var(--white, #fff);
}
.white-theme .profile-all .close-but,
.white-theme .profile-all .yy {
  color: #fff;
}
.white-theme .profile-all .svgg {
  display: none !important;
}
.white-theme .profile-all .svg-2 {
  display: unset !important;
}
.white-theme .profile-all input[type=range] {
  --track-color: #aeb1b4;
}
.white-theme .profile-all .card-body {
  background-color: #fff;
}
.white-theme .profile-all .collapsible {
  background: var(--white, #fff);
}
.white-theme .profile-all .all-tables {
  background-color: #f9f9f9;
}
.white-theme .profile-all .right-table {
  background-color: #f9f9f9;
}
.white-theme .profile-all .about-text {
  color: var(--text-100, #1a1a1a);
  font-weight: 500;
}
.white-theme .profile-all .common-bg {
  background: var(--white, #fff);
  border: none;
}
.white-theme .profile-all .baglanti-common {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--grey-grey-1, #f8f8f8);
}
.white-theme .profile-all .name {
  color: var(--text-100, #1a1a1a);
}
.white-theme .profile-all .bg-v2 {
  border: 1px solid var(--grey-grey-3, #e1e3e6);
}
.white-theme .profile-all .content {
  background-color: var(--white, #fff);
}
.white-theme .profile-all .single-p-file {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6);
  background: var(--white, #fff);
  box-shadow: 0px 4px 2px -2px rgba(27, 46, 94, 0.02);
}
.white-theme .profile-all .add-port-text {
  color: #fff;
}
.white-theme .profile-all .header-p {
  color: var(--dark, #404d61);
}
.white-theme .profile-all .cari {
  color: var(--text-100, #1a1a1a);
}
.white-theme .profile-all .all-files .single-file:nth-child(even) {
  background: #f8f8f8;
  box-shadow: 0px 8px 24px 0px rgba(27, 46, 94, 0.03);
}
.white-theme .profile-all .slider-value,
.white-theme .profile-all .current {
  color: #1a1a1a;
}
.white-theme .profile-all .rate-part {
  background: #f8f8f8;
}
.white-theme .profile-all .rating {
  color: #1a1a1a;
  font-weight: 700;
}
.white-theme .profile-all .freelance-part {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(27, 46, 94, 0.03), 0px 0px 8px 0px rgba(27, 46, 94, 0.03);
  padding: 6px 22px;
  color: #5a6474;
}
.white-theme .profile-all .belong {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(27, 46, 94, 0.03), 0px 0px 8px 0px rgba(27, 46, 94, 0.03);
  border: none;
  color: #757d8a;
  font-weight: 400;
  padding: 6px 22px;
  margin-left: 8px !important;
}
.white-theme .profile-all .svgs {
  background: #f8f8f8;
}
.white-theme .profile-all .border-bottom-abs:after {
  border-bottom: 1px solid #f8f8f8;
}
.white-theme .profile-all .small-name {
  color: #404d61;
  font-weight: 700;
}
.white-theme .profile-all .feedback-text {
  color: #757d8a;
}
.white-theme .profile-all .all-storage {
  background: #f8f8f8;
  margin-bottom: 22px;
}
.white-theme .add-port-all .common-bg {
  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #e1e3e6) !important;
  background: var(--white, #fff) !important;
}
.white-theme .add-port-all .wrapper-add {
  border-radius: 8px;
  border: 1px dashed #e1e3e6;
  background: #f8f8f8;
}
.white-theme .add-port-all .text-common {
  color: #1a1a1a;
}
.white-theme .add-port-all .add-image-files {
  border-radius: 8px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.05);
}
.white-theme .add-port-all .add-file {
  border-radius: 8px;
  border: 1px solid #e1e3e6;
  background: #fff;
}
.white-theme .add-port-all .information-inputs label {
  color: #1a1a1a;
}
.white-theme .add-port-all .information-inputs .label {
  color: #1a1a1a;
}
.white-theme .faq-all .right-table {
  background: var(--white, #fff);
}
.white-theme .faq-all .faq-title {
  color: #1a1a1a;
  font-weight: 700;
}
.white-theme .faq-all .accordion-title {
  background-color: #f8f8f8;
  color: #1a1a1a !important;
}
.white-theme .faq-all .accordion-content {
  color: #232426;
}
.white-theme .ayarlar-all .selected-header {
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(27, 46, 94, 0.03), 0px 16px 8px 0px rgba(27, 46, 94, 0.03);
  color: #404d61 !important;
}
.white-theme .ayarlar-all .save-button {
  border: none !important;
  color: #fff !important;
}
.white-theme .ayarlar-all .name {
  color: #1a1a1a;
}
.white-theme .ayarlar-all .account-cancel {
  color: #757d8a;
  border-radius: 8px;
  border: 1px solid #e1e3e6;
  background: #f8f8f8;
}
.white-theme .ayarlar-all .text-common {
  color: #1a1a1a;
}
.white-theme .ayarlar-all .information-inputs input,
.white-theme .ayarlar-all .textarea,
.white-theme .ayarlar-all .all-bg {
  border: 1px solid #e1e3e6;
  background: #fff;
}
.white-theme .ayarlar-all .information-inputs label,
.white-theme .ayarlar-all .checkbox-label {
  color: #1a1a1a;
}
.white-theme .ayarlar-all .geekmark {
  background-color: #c3c7ce;
}
.white-theme .ayarlar-all .all-user .common-bg {
  border: 1px solid #e1e3e6;
  background: transparent;
}
.white-theme .ayarlar-all .all-user .label {
  color: #1a1a1a;
}
.white-theme .ayarlar-all .araclar .common-bg {
  border: 1px solid #e1e3e6;
  background: #f8f8f8;
  color: #757d8a;
  font-weight: 500;
}
.white-theme .ayarlar-all .edu-row {
  border: 1px solid #e1e3e6;
  background: #fff;
}
.white-theme .ayarlar-all .edu-row .label {
  color: #1a1a1a;
}/*# sourceMappingURL=lightmode.css.map */