.card {
  background-color: #161616;
}

.table-responsive {
  background: #161616;
}
.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  background: #1d1d1d;
  color: #f39200;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  width: 100%;
  flex-wrap: wrap;
  overflow-x: auto;
}

.header-flex div {
  margin-left: 12px;
}
.content {
  width: 100%;
  overflow-x: auto !important;
}

.buy-domain {
  display: flex;
  border-radius: 4px;
  background: #f39200;
  padding: 2px 8px;
  color: #1d1d1d;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  max-width: 136px;
  line-height: 24px;
  align-items: center;
  display: none;
}

.rate-part {
  border-radius: 99px;
  background: #161616;
  padding: 8px 12px;
  color: #989898;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.last-row {
  margin-right: 42px;
}
.big-text-orange {
  color: #f39200;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.small-image-profile {
  width: 32px;
  height: 32px;
}

.right-table {
  margin-top: 40px;
}
.left-table {
  border-radius: 20px;
  background: #1d1d1d;
  padding: 16px 20px 150px 20px;
}

.all-tables {
  border-radius: 20px;
}

.rate-text {
  color: #989898;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.days-ago {
  color: #989898;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.small-name {
  margin-left: 12px;
  color: #989898;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.portfolio-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.p-image {
  margin-bottom: 24px;
}
.header-p {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.2px;
}

.sub-p {
  color: #989898;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-p {
  width: 100%;
  max-width: 136px;
}

.single-p-file {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #282828;
  background: #161616;
  box-shadow: 0px 4px 2px -2px rgba(27, 46, 94, 0.02);
  padding: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.feedback-text {
  margin-top: 8px;
}

.first-header {
  margin-top: 32px;
}

.first-file-row {
  width: 100%;
  margin-bottom: 32px;
}

.files-content {
  flex-direction: column;
}

.ekstre {
  color: #989898;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.file-information {
  color: #989898;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.all-files {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.single-file {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 4px 12px 4px 4px;
}
.see-all {
  margin: 0 !important;
  margin-right: 12px;
}
.file-type {
  display: flex;
  align-items: center;
}
.cari {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-left: 12px;
  line-height: 100%;
}
.show-more-but {
  border-radius: 4px;
  border: 1px solid #f39200;
  color: #f39200;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 2px 8px;
  margin: 42px auto;
  cursor: pointer;
}

.all-files .single-file:nth-child(even) {
  border-radius: 8px;
  background: #161616;
  box-shadow: 0px 8px 24px 0px rgba(27, 46, 94, 0.03);
}

.header-see-all {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 36px;
}

.show-more-but:hover {
  background: #f39200;
  color: #000000;
  font-weight: 700;
  transition: 0.3s;
}

.show-more {
  margin: 0 auto;
}

.second-row {
  margin-top: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.first-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

.rating-content {
  flex-direction: column;
}

.border-bottom-abs:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #282828;
  width: 100%;
  transform: translateX(-50%);
  bottom: -15px;
  left: 50%;
}
.service-v2 {
  justify-content: center;
  text-align: center;
}

.quality {
  color: #989898;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rating-part-star {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.service {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.rating {
  margin-left: 8px;
}

.belong {
  border-radius: 8px;
  border: 1px solid #282828;
  background: #161616;
  margin-left: 32px;
  padding: 4px 24px;
}

.freelance {
  background-color: transparent;
  color: #989898;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 200% */
}

.current {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.gb {
  margin-left: 16px;
  color: #f39200;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.storage {
  display: flex;
  margin: 10px;
  align-items: center;
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.svg-lock {
  display: flex;
  align-items: center;
}

.current {
  margin-left: 8px;
}
.available-files {
  color: #989898;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  display: none;
}

.rating-order {
  display: none;
}

.experience-part {
  display: none;
}

.blockdisplay {
  display: block;
}
.flexdisplay {
  display: flex;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.arrow-down-orange {
  border-radius: 4px;
  background: #f39200;
  padding: 2px 10px;
}
.all-collapsible {
  margin-bottom: 12px;
}

.border-bottom-v2 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ratings {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  direction: rtl;
  text-align: left;
}

.star {
  position: relative;
  display: inline-block;
  transition: color 0.2s ease;
  color: #ebebeb;
}

.star:before {
  content: "\2605";
  width: 60px;
  height: 60px;
  font-size: 16px;
}

.top-feedback {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.star:hover,
.star.selected,
.star:hover ~ .star,
.star.selected ~ .star {
  transition: color 0.8s ease;
  color: #fca549;
}

.fulfill {
  color: #fca549;
}

.active,
.collapsible:hover {
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #1d1d1d;
}

.slider-container {
  width: 100%;
  position: relative;
}

.slider-text {
  display: flex;
  margin-bottom: 10px;
}

.slider-text .slider-label {
  color: #1a1a1a;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 4px;
  padding: 2px 8px;
  border-radius: 4px;
  background: #f39200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-fill {
  position: absolute;
  top: 38px;
  left: 0;
  height: 100%;
  background-color: #ffd100;
  z-index: 1;
  height: 10px;
}

.slider {
  width: 100%;
  height: 10px;
  appearance: none;
  background-color: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3498db;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #3498db;
  cursor: pointer;
}

.slider-fill {
  height: 8px;
  background-color: #f39200;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  transition: width 0.077s;
}

input[type="range"] {
  font-size: 1.5rem;
  width: 10.5em;
}

input[type="range"] {
  color: #f39200;
  --thumb-height: 1.125em;
  --track-height: 0.125em;
  --track-color: rgb(255, 255, 255);
  --brightness-down: 80%;
  --clip-edges: 0.125em;
}

input[type="range"].win10-thumb {
  color: #2b2d42;

  --thumb-height: 1.375em;
  --thumb-width: 0.5em;
  --clip-edges: 0.0125em;
}

/* === range commons === */
input[type="range"] {
  position: relative;
  background: #fff0;
  overflow: hidden;
}

input[type="range"]:active {
  cursor: grabbing;
}

input[type="range"]:disabled {
  filter: grayscale(1);
  opacity: 0.3;
  cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
    100vmax currentColor;
  width: var(--thumb-width, var(--thumb-height));
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
    50% calc(var(--track-height) + 1px);
  background-color: currentColor;
  border: 2px solid white;
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width, var(--thumb-height));

  filter: brightness(100%);
  clip-path: polygon(
    100% -1px,
    var(--clip-edges) -1px,
    0 var(--clip-top),
    -100vmax var(--clip-top),
    -100vmax var(--clip-bottom),
    0 var(--clip-bottom),
    var(--clip-edges) 100%,
    var(--clip-further) var(--clip-further)
  );
}

input[type="range"]:hover::-webkit-slider-thumb {
  cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
  filter: brightness(var(--brightness-down));
  cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
    100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
  appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  background: #fff0;
}

input[type="range"]::-moz-range-thumb {
  background: whitesmoke;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
  filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
  filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
  cursor: not-allowed;
}

.common-bg {
  font-size: 14px;
  margin-top: 28px;
  padding: 8px 16px;
}

.about {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.school {
  color: #989898;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.dep {
  color: #989898;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-top: 0 !important;
}
.profession {
  display: flex;
  flex-wrap: wrap;
}
.bg-v2 {
  border: 1px solid #e1e3e6;
  background: transparent;
}

.about-text {
  max-width: 280px;
}
.profession {
  max-width: 312px;
  margin-top: 14px;
  color: #757d8a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.info-box-hakkinda {
  width: 100%;
  margin-top: 24px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-c {
  margin: 0 auto;
}

.p-image img {
  margin: 20px 0;
}

.modal-row {
  margin: 20px 0;
}

.close-but {
  border-radius: 8px;
  background: #f39200;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: max-content;
  margin: 12px auto;
  border: none;
}

.modal-content {
  padding: 20px;
  border-radius: 5px;
  border-radius: 20px;
  background: #1d1d1d;
  box-shadow: 0px 4px 2px -2px rgba(27, 46, 94, 0.02);
  width: 100%;
  max-width: 403px;
}

/* Additional styles for your content */
.single-p-file {
  cursor: pointer;
  text-align: center;
}

.p-image img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .row {
    margin: 0 auto;
  }
  .rating-part-star {
    margin-bottom: 12px;
    margin-left: 0;
    margin-top: 12px;
  }
}
